@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./assets/styles/hacker-theme.scss";

html, body {
  margin: 0;
  min-height: 100%;
  background: #000;
}

body {
  color: #00ff00;
  font-family: "Source Code Pro", "Courier New", monospace;
}

* {
  box-sizing: border-box;
}
